@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Inter:wght@400;500;600;700&display=swap');
/* font-family: 'Cormorant Garamond', serif;*/

body {
    width: 100%;
    height: 100%;
    background-color: #a7a7c8;
    font-family: 'Cormorant Garamond', serif; 
    overflow-x: hidden; 
    box-sizing: border-box; 
}


.main {
    display: flex;
    justify-content: center;
}

.wrapper {
   
}

.slider {
    width: 65vw;
    height: 100vh;
    margin: 3vh auto;
}

.slider_dot {
    display: none;
}

.slider_wrap {
  overflow: hidden;
}

.slider_list {
    display: flex;
    transition: all 0.9s ease-in;
    width: 100%;
}

.slider_img {
    width: 100%;
    height: 100%;
    flex-shrink:0;
    border-radius: 5%;
}

.wrap__bottom-position {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.wrap_slider-description {
    overflow: hidden;
}

.slider_descriptions {
    display: flex;
    transition: all 0.9s ease-in;
    width: 100%;
}

.description {
    width: 100%;
    height: 100%;
    flex-shrink:0;
}

.description_text {
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(15, 15, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}

.slider_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    margin-left: 1vh;
    cursor: pointer;
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    background-color: #e3ec6e;
    transition: 0.3s ease-in;
}

.navigation_span {
    display: inline-block;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.navigation:hover {
    background-color: rgb(235, 237, 238);
    scale: 1.2;
}

#dot1:checked ~ .wrap__bottom-position .slider_navigation .navigation:first-child,
#dot2:checked ~ .wrap__bottom-position .slider_navigation .navigation:nth-child(2),
#dot3:checked ~ .wrap__bottom-position .slider_navigation .navigation:nth-child(3),
#dot4:checked ~ .wrap__bottom-position .slider_navigation .navigation:nth-child(4),
#dot5:checked ~ .wrap__bottom-position .slider_navigation .navigation:last-child  {
    border: 0.2em solid #e3ec6e;
    background-color: rgb(235, 237, 238);
}

#dot1:checked~.slider_wrap .slider_list {
    transform: translate(0);
}

#dot2:checked~.slider_wrap .slider_list  {
    transform: translateX(-100%);
}

#dot3:checked~.slider_wrap .slider_list {
    transform: translateX(-200%);
}

#dot4:checked~.slider_wrap .slider_list {
    transform: translateX(-300%);
}

#dot5:checked~.slider_wrap .slider_list {
    transform: translateX(-400%);
}

#dot1:checked ~ .wrap__bottom-position .slider_descriptions {
    transform: translate(0);
}

#dot2:checked ~ .wrap__bottom-position .slider_descriptions  {
    transform: translateX(-100%);
}

#dot3:checked~.wrap__bottom-position .slider_descriptions {
    transform: translateX(-200%);
}

#dot4:checked~.wrap__bottom-position .slider_descriptions {
    transform: translateX(-300%);
}

#dot5:checked~.wrap__bottom-position .slider_descriptions {
    transform: translateX(-400%);
}


  @media (max-width: 700px) {
    .wrap__bottom-position {
        flex-wrap: wrap-reverse;
    }

}

/*
.main {
}

.wrapper {
}

.slider {
   
}

.slider_list {
}

.slider_img {
    margin: 0 auto;
    margin-top: 2%;
    width: 65vw;
    max-height: 80vh;
    display: none;
    border-radius: 5%;
}
._active {
    display: block;
}

.wrap__bottom-position {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin-top: 1vh;
    margin-left: 16vw;
    flex-wrap: wrap-reverse;
}

.slider_descriptions {
    text-wrap: wrap;
}

.description {
    width: 35vw;
    list-style-type: none;
    display: none;
}

._active-description{
    display: block;
}

.description_text {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(15, 15, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
}

.slider_dots {
    display: flex;
    justify-content: space-between;
    width: 8em;
}

.dot {
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: #e3ec6e;
    list-style-type: none;
}

.dot:hover {
 background-color: rgb(235, 237, 238);
}

._active-dot {
    height: 1em;
    width: 1em;
    border: 0.2em solid #e3ec6e;
    background-color: rgb(235, 237, 238);
}

.dot-link {
    margin-top: -0.7vh;
    margin-left: -0.4vh;
    display: inline-block;
    cursor: pointer;
    height: 1.6em;
    width: 1.5em;
}

@media (max-width: 716px) {
    .slider_dots {
        margin: 1vh auto;
    }

    .description {
        margin-left: -3vh;
        margin-top: -2vh;
        width: 60vw;
    }

}

@media (max-width: 540px) {

    .description {
        margin-top: -3.5vh;
        width: 65vw;
    }

}*/